<div class="container">

    <div class="botoes">
        <button type="submit" class="btn btn-outline-secondary">
            <img src="assets/sair.png" alt="cancelar">
            Cancelar
        </button>
        <button type="button" class="btn btn-outline-success">
            <img src="assets/salvar.png" alt="gravar">
            Gravar
        </button>
        <button type="button" class="btn btn-outline-danger">
            <img src="assets/cancelar.svg" alt="sair">
            Sair</button>
    </div>

    <nav class="nav">
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a href="" class="nav-link">Dados do cliente</a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link active">Endereço</a>
            </li>
            <li class="nav-item">
                <a href="" class="nav-link">E-mail</a>
            </li>
        </ul>
    </nav>

    <div class="section">
        <div class="row">
            <div class="col-12 botao">
                <button class="btn btn-primary ">Adicionar</button>
                <button class="btn btn-danger">Excluir</button>
                <button class="btn btn-warning">Alterar</button>
            </div>
        </div>

        <div class="combo-box">
            <ul class="col-12">
                <li></li>
            </ul>
        </div>
    </div>

</div>