<div class="container">

    <div class="botoes">
        <button type="submit" class="btn btn-outline-secondary">
            <img src="assets/sair.png" alt="cancelar">
            Cancelar
        </button>
        <button type="button" class="btn btn-outline-success">
            <img src="assets/salvar.png" alt="gravar">
            Gravar
        </button>
        <button type="button" class="btn btn-outline-danger">
            <img src="assets/cancelar.svg" alt="sair">
            Sair</button>
    </div>

    <nav class="nav">
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a routerLink="/cad-pessoa" class="nav-link">Dados do cliente</a>
            </li>
            <li class="nav-item">
                <a routerLink="/tab-endereco" class="nav-link">Endereço</a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link active">E-mail</a>
            </li>
        </ul>
    </nav>

    <div class="section">

        <div class="combo-box">
            <div class="col-12">

            </div>
        </div>
    </div>

</div>