.container {
    margin-top: 0.9rem;
    border:1px solid #dee2e6;
    border-radius: 0.5rem;
    box-shadow: 5px 5px 10px 10px darkgray;
}

.botoes button {
    margin:0.3rem 0;
}

.botoes button > img {
   margin-bottom: 0.2rem;
}

.botoes button:nth-child(3) {
    margin-left: 51.6rem;
}

.botoes button:nth-child(2) {
    margin-left: 0.5rem;
}

h5 {
    text-align: center;
    background: rgb(3, 80, 223);
    color: white;
}
